# Bỏ qua thư mục build
target/
build/

# IntelliJ IDEA files
.idea/
*.iml

# VSCode
.vscode/

# Git
.git/
.gitignore

# Logs & OS files
*.log
*.DS_Store
*.class

# Test reports & temporary files
test-output/
*.swp
